fieldset{
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
  }

  legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}

.paddingbox{
    padding: 13px 21px 0px 28px;
}