<div class="container" style="text-align-last:right;">
  <h1 style="float:left;"><i class="icon-user"></i>Users Listing</h1>
  <button (click)="AddNew()" class="btn btn-sm btn-outline-primary">Add User</button>
</div>

<br/>

<div class="container">
  <div class="row">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Salary</th>
          <th scope="col">Short Bio</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let users of usersList">
          <td>{{ users.firstName }} {{ users.lastName }}</td>
          <td>{{ users.designation }}</td>
          <td>{{ users.salary}}</td>
          <td>{{ users.shortbio}}</td>
          <td>{{ users.dateofbirth | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary" (click)="editClick(users.id)" >Edit</button> &nbsp;
            <button class="btn btn-sm btn-outline-danger" (click)="deleteClick(users.id)">Delete</button>
          </td>
        </tr>
        </tbody>
    </table>   
  </div>
</div>