<nav class="navbar navbar-expand navbar-dark bg-dark ps-5">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/users">View Users List</a>
        <a class="nav-item nav-link" routerLink="/users/details">Add Users</a>
    </div>
</nav>

<br/>
<br/>

<main>
    <!-- Pages are rendered here -->
    <router-outlet></router-outlet>
  </main>

<footer>
    <nav class="navbar navbar-expand navbar-dark bg-dark ps-5">
        <div class="navbar-nav mt-5">
        </div>
    </nav>
</footer>